/*
 * File: main.css
 * Author: Hoa Mai
 * Date: April 29th, 2014
 * 
 * Description: This file holds the css properties that
 *     is specific to the myoneclass store web application.
 */
 
body {
	padding:0px;
	margin:0px;
	background-color:#00AAFF;
	font-family:verdana;
	font-size:small;
}

h1 {
	font-weight:300;
	font-size:28px;
	color:#555555;
}

h3 {
	font-size:small;
	color:#555555;
	-webkit-margin-after:0.4em;
	-webkit-margin-before:0.9em;
	padding-left:2px;
}

table {
	border:0px;
}

.analysisChart td {
	border:0px;
	min-width:90px;
	text-align:center;
}

.analysisChart th {
	background-color:#00AAFF;
	color:white;
	font-weight:900px;
	border:0px;
	min-width:100px;
}

.analysisChart tr:nth-child(odd) td:nth-child(odd) {
	background-color:#FAFAFA;
	color:#444444;
}

.analysisChart tr:nth-child(odd) td:nth-child(even) {
	background-color:#F6F6F6;
	color:#444444;
}

.analysisChart tr:nth-child(even) td:nth-child(odd) {
	background-color:#EAEAEA;
	color:#444444;
}
 
.analysisChart tr:nth-child(even) td:nth-child(even) {
	background-color:#E2E2E2;
	color:#444444;
}

.analysisChart tr:first-child	td:first-child {
	background-color:transparent;
} 

.analyticsTable {
	margin-left:auto;
	margin-right:auto;
	border-spacing:5px; 
}

.analyticsTable td {
	height:30px;
}

.analyticsTable td:first-child {
	background-color:#EEEEEE;
	width:150px;
	text-align:left;
	padding-left:10px;
}

.analyticsTable select {
	padding:7px;
	vertical-align:middle;
}

.timesTable {
	margin-left:auto;
	margin-right:auto;
}

.timesTable td {
	height:30px;
	vertical-align:middle;
	text-align:left;
	padding-left:10px;
	color:#444444;
	background-color:#FAFAFA;
	width:934px;
}

.timesTable td:first-child {
	width:200px;
	background-color:#EEEEEE;
	font-weight:900;
}



/* ID specific css properties */
#headerDiv {
	height:100px;
	width:100%;
	text-align:center;
	min-width:1140px;
}

#headerTitle {
    margin-top:10px;
}

#headerMenu {
    display:inline-block;
	background-color:#0088EE;
	border-radius:5px;
	margin-bottom:5px;
}

#headerMenu:hover {
    cursor:pointer;
	background-color:#0066AA;
}

#headerMenu:active {
    cursor:pointer;
	background-color:#005599;
}

#menuModal {
	width:250px;
	position:absolute;
	top:100px;
	left:15px;
}

#menuArrow {
	width:0px;
	height:0px;
	border-bottom:15px solid #00AAFF;
	border-left:15px solid transparent;
	border-right:15px solid transparent;
	margin-left:27px;
}

#menuTopOffset {
	height:9px;
	background-color:#00AAFF;
	box-shadow:0px 3px 3px #AAAAAA;
}

#headerCart {
    display:inline-block;
	background-color:#0088EE;
	border-radius:5px;
	margin-bottom:5px;
}

#headerCart:hover {
    cursor:pointer;
	background-color:#0066AA;
}

#headerFiller {
	width:80px;
	display:inline-block;
}

#headerUser {
	display:inline-block;
	margin-bottom:3px;
}

#headerLogin {
	width:80px;
	background-color:#0088EE;
	vertical-align:middle;
	height:30px;
	display:table-cell;
	color:white;
	font-weight:900;
}

#headerLogin:hover {
	background-color:#0066AA;
}

#headerLoginSpacing {
	display:table-row;
	height:10px;
}

#headerSignup {
	display:table-cell;
	color:#00AAFF;
	background-color:white;
}

#headerSignup:hover {
	background-color:rgb(221,241,255);
}

#contentDiv { 
	min-height:600px;
	width:100%;
	margin-top:0px;
	padding-top:25px;
	padding-bottom:25px;
	margin-right:auto;
	margin-left:auto;
	background-color:white;
	text-align:center;
	min-width:1140px;
}

#registerWrapper {
	display:table;
	margin-right:auto;
	margin-left:auto;
}

#whyRegisterDiv {
	display:table-cell;
	width:740px;
	background:url(http://myoneclass.com/imgs/registerimg.png) 20px 0px;
	background-repeat:no-repeat;
}

#registerFormDiv {
	display:table-cell;
	height:475px;
	width:360px;
	background-color:#F0F0F0;
	text-align:left;
	padding:20px;
	padding-top:5px;
}

#registerButton {
	height:50px;
	width:360px;
	margin-top:20px;
	font-weight:900;
}

#registerNote {
	width:338px;
	padding:10px;
	border:1px solid #AAAAAA;
	background-color:#EAEAEA;
	color:#555555;
}

#registerError {
	margin-top:10px;
	width:340px;
	padding:10px;
	background-color:#FFCCCC;
	color:#EE0000;
}

#enderdiv {
    height:370px;
	width:100%;
	color:white;
	text-align:center;
	min-width:1140px;
}

#broughtToYouBy {
    text-align:left;
	display:inline-block;
	width:1140px;
	font-weight:900;
	padding-top:15px;
}

#copyrightMessage {
	border-top:1px solid white;
	padding-top:10px;
	margin-top:10px;
	width:1140px;
	margin-right:auto;
	margin-left:auto;
}

#hoasprite {
	background:url(http://myoneclass.com/imgs/creditsimgs.png) -250px 0;
}

#hoasprite:hover {
	background:url(http://myoneclass.com/imgs/creditsimgs.png) 0 0;
}

#viviansprite {
	background:url(http://myoneclass.com/imgs/creditsimgs.png) -750px 0;
}

#viviansprite:hover {
	background:url(http://myoneclass.com/imgs/creditsimgs.png) -500px 0;
}

#adamsprite {
	background:url(http://myoneclass.com/imgs/creditsimgs.png) -1250px 0;
}

#adamsprite:hover {
	background:url(http://myoneclass.com/imgs/creditsimgs.png) -1000px 0;
}

#loginDiv {
	margin-right:auto;
	margin-left:auto;
	height:475px;
	width:360px;
	background-color:#F0F0F0;
	text-align:center;
	padding:20px;
	padding-top:5px;
	display:inline-table;
}

#prodAddSprite {
	background:url(http://myoneclass.com/imgs/menusprites.png) -450px 8px;
	background-repeat:no-repeat;
}

.menuOption:hover>#prodAddSprite {
	background:url(http://myoneclass.com/imgs/menusprites.png) -420px 8px;
	background-repeat:no-repeat;
}

#prodCartSprite {
	background:url(http://myoneclass.com/imgs/menusprites.png) -390px 8px;
	background-repeat:no-repeat;
}

.menuOption:hover>#prodCartSprite {
	background:url(http://myoneclass.com/imgs/menusprites.png) -360px 8px;
	background-repeat:no-repeat;
}

#prodBrowseSprite {
	background:url(http://myoneclass.com/imgs/menusprites.png) -330px 8px;
	background-repeat:no-repeat;
}

.menuOption:hover>#prodBrowseSprite {
	background:url(http://myoneclass.com/imgs/menusprites.png) -300px 8px;
	background-repeat:no-repeat;
}

#prodOrdersSprite {
	background:url(http://myoneclass.com/imgs/menusprites.png) -270px 8px;
	background-repeat:no-repeat;
}

.menuOption:hover>#prodOrdersSprite {
	background:url(http://myoneclass.com/imgs/menusprites.png) -240px 8px;
	background-repeat:no-repeat;
}

#catUpdateSprite {
	background:url(http://myoneclass.com/imgs/menusprites.png) -210px 8px;
	background-repeat:no-repeat;
}

.menuOption:hover>#catUpdateSprite {
	background:url(http://myoneclass.com/imgs/menusprites.png) -180px 8px;
	background-repeat:no-repeat;
}

#signOutSprite {
	background:url(http://myoneclass.com/imgs/menusprites.png) -150px 8px;
	background-repeat:no-repeat;
}

.menuOption:hover>#signOutSprite {
	background:url(http://myoneclass.com/imgs/menusprites.png) -120px 8px;
	background-repeat:no-repeat;
}

#catDeleteSprite {
	background:url(http://myoneclass.com/imgs/menusprites.png) -30px 8px;
	background-repeat:no-repeat;
}

.menuOption:hover>#catDeleteSprite {
	background:url(http://myoneclass.com/imgs/menusprites.png) -0px 8px;
	background-repeat:no-repeat;
}

#catAddSprite {
	background:url(http://myoneclass.com/imgs/menusprites.png) -90px 8px;
	background-repeat:no-repeat;
}

.menuOption:hover>#catAddSprite {
	background:url(http://myoneclass.com/imgs/menusprites.png) -60px 8px;
	background-repeat:no-repeat;
}

.mainButton { 
	background-color:#00AAFF;
	color:white;
	font-size:14px;
	border:0px;
	height:40px;
}

.mainButton:hover {
	background-color:#0099EE;
	cursor:pointer;
}

.mainButton:active {
	background-color:#0077BB;
}

.menuOption {
	padding-left:10px;
	height:45px;
	background-color:#00AAFF;
	box-shadow:0px 3px 3px #AAAAAA;
	color:rgb(221,241,255);
	font-size:18px;
	line-height:100%;
	text-align:left;
}

.menuOptionPic {
	height:45px;
	width:30px;
	display:table-cell;
}

.menuOptionLabel {
	padding-left:10px;
	height:45px;
	display:table-cell;
	vertical-align:middle;
}

.menuAltText {
	font-size:14px;
	color:#5b5b5b;
}

.menuCategory {
	background-color:#0066CC;
	box-shadow:0px 3px 3px #AAAAAA;
	color:white;
	padding:10px;
	font-size:18px;
	line-height:94%;
	text-align:left;
}

.menuOption:nth-child(odd) {
	background-color:#0088EE;
}

.menuOption:nth-child(even) {
	background-color:#00AAFF;
}

.menuOption:hover {
	background-color:white;
	cursor:pointer;
	color:#00AAFF;
}

.menuOption:hover .menuAltText {
	color:#d5ff9e;
}

.menuOption:active {
	background-color:rgb(221,241,255);
	cursor:pointer;
}

.headerUserButton {
	width:80px;
	height:30px;
	font-weight:900;
	border:0px;
}

.headerUserButton:hover {
	cursor:pointer;
}

.headerUserWrapper {
	display:table-row;
}

.registerInput {
	padding:5px 10px 5px 10px;
	width:336px;
}

.registerSelect {
	width:360px;
}

.creditsimg {
	margin-top:15px;
	margin-right:25px;
	margin-left:25px;
	width:250px;
	height:250px;
	display:inline-block;
}

.creditsimg:hover {
	cursor:pointer;
}

.labelimg {
	margin-right:25px;
	margin-left:25px;
}

.pointTipArrow {
	width:0;
	height:0;
	margin:0px auto;
}

.pointTipContent {
	padding:10px;
}

.alertBox {
	background-color:#FFCCCC;
	color:#EE0000;
	padding:10px;
} 

.successDialog {
	background-color:#CCFFCC;
	color:green;
	padding:10px;
	width:1140px;
	margin-right:auto;
	margin-left:auto;
	margin-bottom:10px;
}

.errorDialog {
	background-color:#FFCCCC;
	color:#EE0000;
	padding:10px;
	width:1140px;
	margin-right:auto;
	margin-left:auto;
	margin-bottom:10px;
}

.noteDialog {
	background-color:#FFFFCC;
	color:#888844;
	padding:10px;
	width:1140px;
	margin-right:auto;
	margin-left:auto;
	margin-bottom:10px;
}